<%@ page import="salao.Customer" %>
<%@ page import="salao.Product" %>
<html>
    <head>
    </head>
    <body>
        <div class="body">
            Create new Customer
            <g:form action="save">
                Name: <input name="name" value="${customerInstance.name}"/>
            </g:form>
        </div>
    </body>
</html>